{{ $title := .Get "title" }}
{{ $description := .Get "description" }}
<section class="section bg-background">
  <div class="container space-y-12">
    <div class="mx-auto max-w-3xl text-center space-y-4">
      {{ with $title }}
      <h2 class="text-3xl font-heading font-bold text-brand-blue-800">{{ . }}</h2>
      {{ end }}
      {{ with $description }}
      <p class="text-lg text-body-2">{{ . }}</p>
      {{ end }}
    </div>
    <div class="grid gap-8 lg:grid-cols-3">
      {{ .Inner | safeHTML }}
    </div>
  </div>
</section>
